<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Wireguard Control Panel</title>
        <meta name="theme-color" content="#B0197E">
        <link rel="stylesheet" href="/static/style.css" media="screen">
    </head>
    <body>
        <div class="top">
            <h3>Edit Peer</h3>
        </div>
        <form method='POST'>
            <table id="fields">
                <tr>
                    <th colspan="2">Peer</th>
                </tr>
                <tr>
                    <td>PublicKey (optional)</td>
                    <td>
                        {{ peer['PublicKey'] }}
                    </td>
                </tr>
                {% for key, value in peer.items() %}
                {% if key != 'PublicKey' %}
                <tr>
                    <td>{{ key }}</td>
                    <td><input type="text" name="{{ key }}" size="64" value="{{ value }}"></td>
                </tr>
                {% endif %}
                {% endfor %}
                <tr id="newrow" style="visibility: none;">
                    <td>
                        <input id="newrowname" name="ignore" size="32"></span>
                    </td>
                    <td>
                        <button type="button" onclick="addrow()">Add Field</button>
                    </td>
                </tr>
            </table>
            <input type="submit" value="Save">
        </form>
        <form method="POST" action="/deletepeer?peer={{ peer['PublicKey'] | quote }}">
            <input type="submit" value="Delete Peer">
        </form>
        {% if commit_hash %}
        <div class="git">
            <p>
            <a href="https://github.com/galenguyer/wireguard_panel/tree/{{ commit_hash }}">Check out this project on GitHub ({{ commit_hash }})</a>
            </p>
        </div>
        {% endif %}
        <script>
            document.getElementById('newrow').style.visibility = 'inherit';
            function addrow() {
                var key = document.getElementById("newrowname").value.trim();
                if (key == '') {
                    return;
                }
                var table = document.getElementById("fields");
                for (var i = 0, row; row = table.rows[i]; i++) {
                    if (key.toLowerCase() == row.cells[0].innerText.toLowerCase()) {
                        return;
                    }
                }
                var row = table.insertRow(table.rows.length-1);
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                cell1.innerHTML = key;
                cell2.innerHTML = '<input type="text" name="' + key + '" size="64"></input>';
                document.getElementById("newrowname").value = "";
            }
        </script>
    </body>
</html>
