<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Wireguard Control Panel</title>
        <meta name="theme-color" content="#B0197E">
        <link rel="stylesheet" href="/static/style.css" media="screen">
    </head>
    <body>
        <div class="top">
            <h3>Wireguard Control Panel</h3>
        </div>
        <table id="interface">
            <tr>
                <th colspan="2">{{ if_name }}</th>
            </tr>
            <tr>
                <td>PublicKey</td>
                <td>{{ interface['PublicKey'] }}</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>{{ interface['Address'] }}</td>
            </tr>
        </table>
        <div id="peers">
        {% for peer in peers %}
            <div class="peer">
                <table>
                    <tr>
                        <th colspan="2"><a href="editpeer?peer={{ peer['PublicKey'] | string | quote }}">Peer</a></th>
                    </tr>
                    {% for key, value in peer.items() %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ value }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
        <div class="break"></div>
        <div class="peer">
            <a href="/newpeer">
                <table>
                    <tr>
                        <th colspan="2">Add Peer</th>
                    </tr>
                </table>
            </a>
        </div>
        </div>
        {% if edited %}
        <form action="/save" method="post">
            <button name="foo" value="Save">Save</button>
        </form>
        <form action="/discard" method="post">
            <button name="foo" value="Discard">Discard</button>
        </form>
        {% endif %}
        {% if commit_hash %}
        <div class="git">
            <p>
            <a href="https://github.com/galenguyer/wireguard_panel/tree/{{ commit_hash }}">Check out this project on GitHub ({{ commit_hash }})</a>
            </p>
        </div>
        {% endif %}
    </body>
</html>
